player-connection-mode=Listen
player-connection-guid=3623642675
player-connection-debug=1
player-connection-project-name=PixelWars
player-connection-ip=192.168.1.36
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
build-guid=0d9a181600bc40aa87b833f3abdb3f5e
